.sponsers{
    width: 100%;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    background-color: white;
}

.sponsers img{
    width: 14% !important;
    aspect-ratio: 3/2;
    object-fit: contain;

}